@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~antd/dist/reset.css';

.ant-select-selection-placeholder {
    color: white !important;
}

.ant-pagination .ant-pagination-item a {
    color: white !important;
}

.ant-pagination .ant-pagination-item-active a {
    color: black !important;
}

.ant-pagination .ant-pagination-prev button,
.ant-pagination .ant-pagination-next button {
    color: white !important;
}
.ant-table-wrapper .ant-table-thead >tr>th, :where(.css-dev-only-do-not-override-1fzwd7r).ant-table-wrapper .ant-table-thead >tr>td {
    color: white !important;
}